@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  color: #4d4e53;
  background-color: #FFF;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

a, a:active {
  color: #0095dd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline
}

p, ul, ol, blockquote {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  margin: 1em 0 .5em;
}

h1.page-title {
  font-size: 48px;
  margin: 1em 30px;
}

h2 {
  font-size: 24px;
  margin: 1.5em 0 .3em;
}

h3 {
  font-size: 24px;
  margin: 1.2em 0 .3em;
}

h4 {
  font-size: 18px;
  margin: 1em 0 .2em;
  color: #4d4e53;
}

h5, .container-overview .subsection-title {
  font-size: 120%;
  letter-spacing: -0.01em;
  margin: 24px 0 8px 0;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0
}

main {
  overflow: hidden;
  margin-left: 300px;
  width: calc(100% - 300px);
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  text-align: center;
  background: #f7da4d;
  display: block;
}

header h1 {
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 24px;
  line-height: 48px;
  color: #383938;
}

header h1:before {
  content: '';
  position: absolute;
  top: 0;
  left: -48px;
  width: 48px;
  height: 48px;
  background: url('./../img/logo.png') no-repeat center 44%;
  background-size: 70%;
}

header .hamburger {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
header .hamburger:active {
  background: rgba(0,0,0, .1);
}
header .hamburger:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56%;
  height: 2px;
  background: rgba(0,0,0, .8);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 -4px 0 0 rgba(0,0,0, .8), 0 4px 0 0 rgba(0,0,0, .8);
}

.variation {
  display: none
}

.signature-attributes {
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding-top: 48px;
  background: #FFF;
}

aside, nav {
  overflow-y: auto;
}

aside, header .hamburger {
  display: none;
}

aside .logo, nav .logo {
  display: block;
  width: 100%;
  height: 140px;
  min-height: 140px;
  margin: 0;
  font-size: 0em;
  color: rgba(0,0,0,0);
  background: #f7da4d url('./../img/El.png') no-repeat center;
  background-size: 100px;
}

aside h3, nav h3 {
  margin-top: 12px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0 10px;
  padding: 0;
  color: #000;
}

aside ul, nav ul {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  font-size: 100%;
  line-height: 17px;
  padding: 6px;
  margin: 0;
  list-style-type: none;
}

aside div > ul, nav > ul {
  padding: 24px;
  overflow-y: auto;
}

aside ul a,
aside ul a:active,
nav ul a,
nav ul a:active{
  font-family: 'Montserrat', sans-serif;
  line-height: 18px;
  padding: 0;
  display: block;
  font-size: 12px;
}

aside ul a:hover,
aside ul a:active,
nav ul a:hover,
nav ul a:active{
  color: hsl(200, 100%, 43%);
  text-decoration: none;
}

aside a, nav a {
  color: #000;
}

aside ul ul, nav ul ul {
  margin-bottom: 10px
}

aside ul ul a, nav ul ul a {
  color: hsl(207, 1%, 60%);
  border-left: 1px solid hsl(207, 10%, 86%);
}

aside ul ul a,
aside ul ul a:active,
nav ul ul a,
nav ul ul a:active{
  padding: 6px 0 6px 20px;
}

aside h2, nav h2 {
   font-size: 12px;
   margin: 0;
   padding: 0;
}

aside > h2 > a, nav > h2 > a {
   display: block;
   color: hsl(202, 71%, 50%) !important;
}

.ancestors {
  color: #999
}

.ancestors a {
   color: #999 !important;
   text-decoration: none;
}

.clear {
  clear: both
}

.important {
  font-weight: bold;
  color: #950B02;
}

.yes-def {
  text-indent: -1000px
}

.type-signature {
  color: #aaa
}

.name, .signature {
  font-family: Consolas, Monaco, 'Andale Mono', monospace
}

.method h4.name {
  padding-top: 80px;
  margin: 0;
}
.method-detail, .method-example h5 {
  padding: 0 32px;
}

.details {
  margin-top: 14px;
  border-left: 2px solid #DDD;
  line-height: 30px;
}

.details dt {
   width: 120px;
   float: left;
   padding-left: 10px;
}

.details dd {
   margin-left: 70px
}

.details ul {
   margin: 0
}

.details ul {
   list-style-type: none
}

.details li {
   margin-left: 30px
}

.details pre.prettyprint {
   margin: 0
}

.details .object-value {
   padding-top: 0
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  font-size: 13px;
  border: 1px solid #ddd;
  padding: 32px;
  margin-top: 16px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.05);
  overflow: auto;
  border-radius: 4px 0 0 4px;
}

.prettyprint.source {
  width: inherit
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
   padding-left: 0
}

.prettyprint.linenums li {
   border-left: 3px #ddd solid
}

.prettyprint.linenums li.selected, .prettyprint.linenums li.selected * {
   background-color: lightyellow
}

.prettyprint.linenums li * {
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

.params, .props {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 100%;
  font-size: 14px;
}

.params td, .params th, .props td, .props th {
   margin: 0px;
   text-align: left;
   vertical-align: top;
   padding: 10px;
   display: table-cell;
}

.params td {
   border-top: 1px solid #eee
}

.params thead tr, .props thead tr {
   background-color: #fff;
   font-weight: bold;
}

.params .params thead tr, .props .props thead tr {
   background-color: #fff;
   font-weight: bold;
}

.params td.description > p:first-child, .props td.description > p:first-child {
   margin-top: 0;
   padding-top: 0;
}

.params td.description > p:last-child, .props td.description > p:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
}

dl.param-type {
  margin-top: 0;
  margin-bottom: 16px;
}

.param-type dt, .param-type dd {
  display: inline-block
}

.param-type dd {
  font-family: Consolas, Monaco, 'Andale Mono', monospace
}

.disabled {
  color: #454545
}

@media only screen and (min-width: 0px) and (max-width: 680px) {
  nav {
    display: none;
  }

  aside, header .hamburger {
    display: block;
  }

  header h1 {
    font-size: 0;
  }
  header h1:before {
    left: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  main {
    width: 100%;
    margin: 0;
  }

  .method-detail, .method-example h5 {
    padding: 0 12px;
  }

  .prettyprint {
    padding: 12px;
    border-radius: 0;
  }

  main h1.page-title {
    margin: 1em 0;
  }
}

@media only print {
  aside, nav {
    display: none;
  }

  main {
    width: 100%;
    margin: 0;
  }
}
